<div class="main" >
    <div class="container">
      


      <div class="main-card">
        <div class="pattern">
          <div class="pattern-element">
              <p class="element-title">Rock</p>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Rap</p>
            </div>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Anime opening</p>
            </div>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Drum and bass</p>
            </div>
          </div>
        
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Tehno</p>
            </div>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">HardBass</p>
            </div>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Pop music</p>
            </div>
          </div>
          <div class="pattern-element" >
            <div class="element">
              <p class="element-title">Rock</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>