<div class="main">
    <div class="container">
        <div class="main-header">
            <div class="main-header_nav">

            </div>


            <div class="main-header_label">
                <!-- <p class="label_name">{{activatedItemName}}</p>
                <div class="label_filter" *ngIf="activatedItemName === 'music'">
                    <button class="btn-filter" *ngFor="let item of rightNavItems" (click)="onRightItemClick(item)"
                        routerLink="{{ item.link }}" routerLinkActive="active">{{item.name}}</button>
                </div> -->
            </div>
        </div>
        <div class="buttons">
            
        </div>
    </div>
</div>