// .main {
//     display: flex;
// background: #f7f6ff;
// height: 100%;
// justify-content: center;
// margin: 0;
//     .container {
        
//         padding-top: 10px;
//         width: 1200px;
//         display: flex;
        
//         .main-header {
//             height: 135px;
//             display: flex;
            
//             .main-header_nav {
//                 float: left;


//                 i {
//                     margin-left: 10px;
//                     margin-right: 10px;
//                 }

//                 ul.nav {
//                     list-style-type: none;
//                     margin: 0;
//                     padding: 0;
//                     width: 180px;
                    
//                   }
                  
//                   li a {
                    
//                     display: block;
//                     color: #4368c9;
//                     padding: 3px;
//                     text-decoration: none;
//                     margin-bottom: 2px;
//                     border-radius: 10px;
//                   }
                  
                  
//                   li a:hover {
//                     background-color: #fff;
                    
//                   }

//             }

//             .main-header_label {

//                 .label_name {
//                     font-size: 24px;
//                 }

//                 .label_filter {
//                    padding-top: 20px;

                  //   .btn-filter {
                  //   list-style-type: none;
                  //   margin-right: 10px;
                  //   width: auto;
                  //   height: 35px;
                  //   cursor: pointer;
                  //   border: none;
                  //   color: #575f73 ;
                  //   padding: 3px;
                  //   font-size: 20px;
                  //   margin-bottom: 2px;
                  //   border-radius: 10px;
                  //   background-color: #f7f6ff;
                  //   }
                  //   .btn-filter:hover {
                  //       background-color: #fff;
                  //   }

//                 }
//             }


//         }
//     }
// }





.main {
      display: flex;
      background: #f7f6ff;
      justify-content: center;
      height: 100%;
    
      .container {
      width: 1240px;
      box-sizing: border-box;
      justify-content: center;
      
      .main-header {
         display: flex;
         flex-direction: row;
         align-items: flex-end;
      
         .main-header_nav {
            display: flex;
            flex-direction: column;
            justify-content: center;

            ul.nav {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  width: 180px;
                  }
                                 
             li a {
                                   
                   display: block;
                  color: #4368c9;
                 padding: 3px;
                   text-decoration: none;
             margin-bottom: 2px;
                border-radius: 10px;
                   }
                              
               li a:hover {
                     background-color: #fff;
                         }

         }

         .main-header_label {

            .label_name {
               font: 700 32px Monda, sans-serif;

            }

            .label_filter {
               display: flex;
               
               gap: 16px;
               align-items: flex-start;
               justify-content: flex-start;
               margin-top: 17px;

               .btn-filter {
                  list-style-type: none;
                  margin-right: 10px;
                  width: auto;
                  height: 35px;
                  cursor: pointer;
                  border: none;
                  color: #575f73 ;
                  padding: 3px;
                  font-size: 20px;
                  margin-bottom: 2px;
                  border-radius: 10px;
                  background-color: #f7f6ff;
                  }
                  .btn-filter:hover {
                      background-color: #fff;
                  }
            }
         }

      }


      .main-card {
         box-sizing: border-box;
         margin-top: 67px;
         .pattern {
            box-sizing: border-box;
            display: grid;
            grid-gap: 18px;
            grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
            
            .pattern-element {
               cursor: pointer;
               border: none;
               border-radius: 12px;
               background-color: #4368c9;
               height: 281px;
               width: 281px;
               position: relative;
               .element-title {
                     position: absolute;
                     bottom: 0;
                  font: 700 32px Monda, sans-serif;
                  color: rgba(255, 255, 255, 1);
                  transition: top .5s ease;
                  z-index: 1;
               }
               
            }
            .pattern-element:hover .element-title {
               transition: transform 300ms;
               transform: translateY(-10px);
            }

         }
      }
   }
   
 }
 
 

 



 
 


 

 



 
 


